<div class="d-flex align-items-center justify-content-center">
  <h1>welcome to my events</h1>
</div>

<% if @user %>
  <p> 
    <%= @user.username%> is currently logged in.
  </p>
    <%= <%= button_to "Logout", logout_path, methd: :delete %>
<% end%>
