<p id="notice"><%= notice %></p>

<h1>Events</h1>



<div class="container">
  <div class="d-flex">
    <article class="events col-md-3 mt-4">
      <h4 class="event-titles">Past Events</h4>
      <%= list_past_events(@past_events) %>
    </article>
    <article class="events col-md-3 mt-4">
      <h4 class="event-titles">Upcoming Events</h4>
      <%= list_upcoming_events(@upcoming_events) %>
    </article>
  </div>
</div>

<br>

<%= navbar_new_event %>
